<div class="header">
    
    <!-- Logo -->
    <img  redirect-home src="img/" id="header-ge-img">
    
    <!-- MyApps Anywhere | powered by Corporate Software solutions-->
    <div id="left-header-text" redirect-home>
        <p id="myapps-header-text">MyAppsAnywhere</p>
        <div id="left-boarder">
            <p id="powered-by">powered by Innovation Studio</p>
        </div>
    </div>
    
    <!--The Menu-->
    <div id="header-menu-btn" class="pull-right">
        <p toggle-global-menu >Menu</p>
        <span toggle-global-menu class="fa fa-bars"></span>
    </div>
    
    <div id="header-menu">
    
        <div class="menu-row">
            
            <div class="menu-block" redirect-home>
                <div class="menu-img">
                    <img src="img/menu/homeWhite.png"/>
                </div>
                <a>Home</a>
            </div>
            
            <div class="menu-block" redirect-get-started>
                <div class="menu-img">
                    <img src="img/menu/WhiteMouse.png"/>
                </div>
                <a>How to use MyApps</a>
            </div>
            
            <div class="menu-block" redirect-contact>
                <div class="menu-img">
                    <img src="img/menu/email_open_white.png"/>
                </div>
                <a>Contact Us</a>
            </div>
            
            
            
        </div>
        <div class="menu-row">
        
            <div class="menu-block">
                <div class="menu-img">
                    <img src="img/menu/investigatorwhite.png"/>
                </div>
                <a>Lorem Ipsum</a>
            </div>
            
            <div class="menu-block">
                <div class="menu-img">
                    <img src="img/menu/checkedList.png"/>
                </div>
                <a>Lorem Ipsum</a>
            </div>
            
            <div class="menu-block">
                <div class="menu-img">
                    <img src="img/menu/teamWhite.png"/>
                </div>
                <a>Lorem Ipsum</a>
            </div>
            
        </div>
    </div>
    
</div>